
.border(@color: gray) {
    border: 1px solid @color;
}

body {
    padding-top : 50px;
    height : 100%;
    
    // hepers :
    .align-center {
        text-align: center;
    }
    .align-middle {
        vertical-align: middle;
    }


    .container {
        //border: 1px solid grey;
    }

    // PROFILES
    .profile {
        
        .website {
            a {
                display: block;
                margin-top : 20px;
            }
        }

        .logo {
                max-width: 200px;
                max-height: 200px;
                margin: 10px;
            }

        .pitch {

        }

        .json-item-row {
            margin: auto; // prevent the row to go out of the cotainer
            
            &.json-item-row-5 {
                .json-item-div {
                    margin-left: 50px;
                }
            }
            &.json-item-row-6 {
                .json-item-div {
                    margin-left: 22px;
                }
            }

            .json-item-div {
                border-right: 1px solid rgb(220,220,220);
            }

            .json-item-div:last-child {
                border:none;
            }

            .json-item-div {
                // .border(gray);
                // border-right:red 1px solid;
            }
        }
    }


    .dev-profile {

        
    }

    .game-profile {
        .website {
            padding-top : 0px;
        }

        #screenshots-container {
            overflow: scroll;
            
            img {
                max-width: 200px;
                max-height: 200px;
            }
        }
    }

    


    footer {
        background: rgb(230,230,230);
        text-align: center;
        padding: 20px;

        .container {
            border:0;
        }
    }
}
