







/*body {
	margin:0;
	margin: auto;
	width: 1000px;
	height: 100%;
	border: 1px solid rgb(230,230,230);
	padding:0;
}

table, tr, td, th {
	border:1px solid gray;
	border-collapse: collapse;
	
}

th, td {
	padding: 5px;
	text-align: center;
}*/


/***************************************************
	MENU
***************************************************/

/*body header {
	nav {
		background: rgb(200,200,200);
		width: 100%;
		height: 25px; /* they have no height because of the float:left; on the li *
		clear: both;

		ul {
			li {
				float: left;
				list-style: none;
				margin-left: 10px;
			}

			#menu_selected {
				color: green;
				font-weight: bold;
			}

			#admin_menu_selected {
				color: green;
				font-weight: bold;
			}

			.selected {
				color: green;
				font-weight: bold;
			}
		}
	}
}*/



/***************************************************
	DEVELOPER FULL PROFILE
***************************************************/

/*#full_developer_profile, #full_profile {
	header {
		margin-bottom:  10px;
	}
	div {
		margin-bottom: 10px;
	}
	#profile_pitch {
		#profile_logo {
			float: right;
			max-width: 200px;
			max-height: 200px;
		}
		pre {
			width:100px;

		}
	}

	#profile_screenshots {

	}

	.profile_screenshot {
		max-width: 200px;
		max-height: 200px;
	}
}



#page_title {
	clear: both;
}
 

.form_errors, .forms_errors p {
	color: red;
	font-weight: bold;
	border: 1px solid red;
	background: rgba(255,0,0,0.2);
	padding: 5px;
	margin: 5px;
}
.forms_errors p {
	padding:0;
	margin:0;
}

.form_success {
	color: green;
	font-weight: bold;
	border: 1px solid green;
	background: rgba(0,255,0,0.2);
	padding: 5px;
	margin: 5px;
}*/





