
.border(@color: gray) {
    border: 1px solid @color;
}

body {
    padding-top : 50px;
    height : 100%;
    
    // hepers :
    .align-center {
        text-align: center;
    }
    .align-middle {
        vertical-align: middle;
    }


    .container {
        //border: 1px solid grey;
    }

    // PROFILES
    .profile {
        .border;
        .pitch {
            .logo {
                max-width: 200px;
                margin: 10px;
            }
        }
    }


    .dev-profile {
        .website {
            a {
                display: block;
                margin-top : 20px;
            }
        }
        

        .json-item-row {
            margin: auto;
            // .border(red);
            padding-left: 60px;
            .json-item-div {
                
                // margin-left: 50px;
                border-right: 1px solid rgb(220,220,220);
            }

            .json-item-div:last-child {
                border:none;
            }
        }
    }

    


    footer {
        background: rgb(230,230,230);
        text-align: center;
        padding: 20px;

        .container {
            border:0;
        }
    }
}
